name: Get Release Versions

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      stable:
        description: "Stable release version"
        value: ${{ jobs.get-versions.outputs.stable }}
      beta:
        description: "Beta release version"
        value: ${{ jobs.get-versions.outputs.beta }}
      legacy:
        description: "Legacy release version"
        value: ${{ jobs.get-versions.outputs.legacy }}

jobs:
  get-versions:
    runs-on: ubuntu-latest
    outputs:
      stable: ${{ steps.get-tags.outputs.stable }}
      beta: ${{ steps.get-tags.outputs.beta }}
      legacy: ${{ steps.get-tags.outputs.legacy }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Init NodeJS
        uses: ./.github/actions/setup-github-actions-node

      - name: Extract release versions
        id: get-tags
        working-directory: ./.github/scripts
        run: node ./get-release-versions.mjs

      - name: Print detected versions
        run: |
          echo "Stable: ${{ steps.get-tags.outputs.stable }}"
          echo "Beta:   ${{ steps.get-tags.outputs.beta }}"
          echo "Legacy: ${{ steps.get-tags.outputs.legacy }}"
